services:
  # 1. SQL Server (Database)
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_container
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Password123!
    ports:
      - "1434:1433" # Máy ngoài 1434 -> Docker 1433
    networks:
      - chagee-net

  # 2. Backend (Spring Boot)
  backend:
    build: ./backend
    container_name: backend_container
    ports:
      - "8080:8080" # Máy ngoài 8081 -> Docker 8080
    depends_on:
      - sqlserver
    networks:
      - chagee-net
    environment:
      - SPRING_DATASOURCE_URL=jdbc:sqlserver://sqlserver:1433;databaseName=chagee_db;encrypt=true;trustServerCertificate=true;
      - SPRING_DATASOURCE_USERNAME=sa
      - SPRING_DATASOURCE_PASSWORD=Password123!
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      #=validate =create  =update

  # 3. Frontend (React) - ĐÃ SỬA CHUẨN
  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "3001:3001"
    volumes:
      - ./frontend:/app # Đồng bộ code từ máy vào Docker (Hot Reload)
      - /app/node_modules # Giữ nguyên thư viện trong Docker (tránh xung đột)
    environment:
      - CHOKIDAR_USEPOLLING=true # Giúp máy Windows của Tôn kia nhận diện file thay đổi
    command: npm run dev # BẮT BUỘC: Chạy lệnh dev của Vite
    stdin_open: true
    tty: true
    networks:
      - chagee-net

networks:
  chagee-net:
    driver: bridge
